h2{
    font-family: Inter;
font-size: 70px;
font-style: normal;
font-weight: 600;
line-height: 86px;
letter-spacing: 0em;
text-align: left;

}
p{
    font-family: Roboto;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.31px;
text-align: left;
width: 500px;
}
/* .para
{
    width: 500px;
} */